.aaaa{
    background-color:red;
    
}
.react-datepicker__month-container{

}
.react-datepicker__day{
border:1px solid rgba(0,0,0,0.25);
}
.react-datepicker__day--selected {
    background-color:blue;
}